/* Abandon hope, all ye who enter here */

html,body{
  font-family:Verdana,sans-serif;
  font-size:15px;
}

body {
	background: #1d1b31;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

* {
    overflow: hidden;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

#actual-btn {
  display: none;
}

label{
  cursor: pointer;
}

/* side menu (stolen from codepen here: https://codepen.io/perikan/pen/LZKMJx) */

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 60px;
  list-style-type: none;
  background-color: #292747;
  overflow: hidden;
  transition: width .3s;
}

.side-menu:hover {
  width: 300px;
}

.side-menu li {
  width: 300px;
}

.side-menu li span {
  font-size: 1rem;
  margin: 20px 30px 0 22px;
}

.side-menu li a {
  display: block;
  font-size: .9rem;
  text-decoration: none;
  color: #FFF;
  height: 60px;
}

.side-menu li a:hover,
.side-menu li:first-child a {
  background: #14081d;
  display: block;
}

/* Fancy slider stolen from https://codepen.io/thebigdavec/pen/xxjRBWR */

:root {
	--on: #6948ed;
	--off: #555;
	--scale: 5;
	--toggle-width: calc(var(--scale) * 7.5px);
	--toggle-height: calc(var(--scale) * 2.8125px);
	--border-width: calc(var(--scale) * 0.5px);
	--transition-time: 0.25s;
}

label.toggle {
	position: relative;
	display: block;
	margin-inline: auto;
	cursor: pointer;

	width: var(--toggle-width);
	height: var(--toggle-height);

	color: var(--off);
	background-color: currentColor;

	border: var(--border-width) solid currentcolor;
	border-radius: var(--toggle-height);

	transition: color var(--transition-time) ease-out;
}

label.toggle::after {
	content: "";
	position: absolute;
	background-color: white;

	/* 	Make it fit and make it round */
	height: 100%;
	aspect-ratio: 1;
	border-radius: 100%;

	/* 	Put it on the left */
	left: 0;
	transform: translateX(0);

	/* 	Set the animation speed and easing */
	transition: left var(--transition-time) ease-out,
		transform var(--transition-time) ease-out;
}

input.toggle:checked + label {
	color: var(--on);
}

input.toggle:checked + label::after {
	left: 100%;
	transform: translateX(-100%);
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  backdrop-filter: blur(20px);
}