@import url("./common.css"); 

#editrCanvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

#tileSelectBar {
  position:absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 0.7vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
  background-color: rgba(73, 73, 73, 0.514);
  z-index: 999;
  backdrop-filter: blur(20px);
  border-top: 0.4vh solid rgb(54, 54, 54);
}

.unselected {
  opacity: 0.5;
}


.right {
  float: right;
  /* padding */
  padding-right: 4vh;
  padding-top: 0.5vh;
}

.tileOption {
  display: inline-block;
  height: 6vh;
  width: 6vh;
  image-rendering: pixelated;
  border: 0.2vh solid rgb(192, 192, 192, 0);
}

.tileOption.unselected:hover {
  opacity: 1;
}

.tileOption:not(.unselected) {
  border: 0.2vh solid rgb(192, 192, 192);
}

#tooltip {
  position: absolute;
  bottom: 10%;
  left: 1vh;
  color: white;
}

.side-menu {
  height: 92% !important;
}

#player_color{
  border-radius: 100%;
  height: 20px;
  width: 20px;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

#player_color::-webkit-color-swatch-wrapper {
  padding: 0; 
}
#player_color::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

#advancedmode-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99999999;
  display: block;
}

#advancedmode-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#advancedmode-close {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 2.5vh;
  height: 2.5vh;
  background-color: rgba(204, 204, 204, 0.514);
  border: 0.4vh solid rgb(54, 54, 54);
  border-radius: 100%;
  z-index: +1;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 1.5vh;
  line-height: 2.5vh;
}